mosquitto_flow_nodeRED.json
[{"id":"1c1d854c.09bd93","type":"mqtt in","z":"ac6cf50f.41bcf","name":"","topic":"my/topic","qos":"2","datatype":"auto","broker":"a7f9efab.08a17","x":190,"y":120,"wires":[["61ff7d4f.f8c1b4"]]},{"id":"cb9ebf47.e93768","type":"mqtt out","z":"ac6cf50f.41bcf","name":"","topic":"my/topic","qos":"","retain":"","broker":"a7f9efab.08a17","x":600,"y":200,"wires":[]},{"id":"61ff7d4f.f8c1b4","type":"debug","z":"ac6cf50f.41bcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":120,"wires":[]},{"id":"cbad2ca8.b4cad","type":"inject","z":"ac6cf50f.41bcf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":200,"wires":[["942bfb85.88fd88"]]},{"id":"942bfb85.88fd88","type":"function","z":"ac6cf50f.41bcf","name":"","func":"msg.payload = \"NodeRED message!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["cb9ebf47.e93768"]]},{"id":"a7f9efab.08a17","type":"mqtt-broker","z":"","name":"LocalMosquitto","broker":"192.168.1.109","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]